<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Launch the joystick teleop node. -->
  <node name="teleop" pkg="teleop" type="node" output="screen"/>

  <!-- Launch the static transforms for the pitranger rover -->
  <include file="$(find config)/launch/tf.launch"/>

  <!-- Launch the IMU. -->
  <include file="$(find xsens_driver)/launch/xsens.launch"/>

  <!-- Launch the localization EKFs. -->
  <include file="$(find robot_localization)/launch/dual_ekf_navsat.launch"/>

  <!-- Launch pitranger, the motor control node. -->
  <node name="pitranger" pkg="pitranger" type="node" output="screen">
    <remap from="/pitranger/in/twist_cmd" to="teleop/out/twist_cmd"/>
  </node>

  <!-- Launch the realsenses. -->
  <include file="$(find config)/launch/rs.launch"/>

  <!-- Launch brinkmanship! -->
  <!--node pkg="brink" type="brink.py" name="brink" output="screen" respawn="true">
    <remap from="/brink/in/cloud" to="/rs_front/camera/depth/color/points"/>
  </node-->

  <!-- Launch rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find config)/rviz_cfg/main.rviz"/>

</launch>
