<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Launch the static transforms for the pitranger rover -->
  <include file="$(find config)/launch/tf.launch"/>

  <!-- Launch the GPS -->
  <include file="$(find swiftnav_ros)/launch/swiftnav_ros.launch"/>

  <!-- Launch the IMU. -->
  <include file="$(find xsens_mti_driver)/launch/xsens_mti_node.launch"/>

  <!-- Launch pitranger, the motor control node. -->
  <node name="pitranger" pkg="pitranger" type="pitranger" respawn="true" output="screen">
    <remap from="/pitranger/in/twist_cmd" to="teleop/out/twist_cmd"/>
  </node>

  <!-- Launch pitcam. -->
  <node name="pitcam" pkg="pitranger" type="pitcam" output="screen" respawn="true">
    <remap from="/pitranger/in/twist_cmd" to="teleop/out/twist_cmd"/>
  </node>

  <!-- Launch the localization node -->
  <node name="whereami" pkg="whereami" type="whereami_node.py" output="screen" respawn="false"/>

</launch>
