<?xml version="1.0" encoding="utf-8"?>
<launch>
  <group ns="rs_front">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="serial_no"             value="939622074873"/>
      <arg name="tf_prefix"         		value="rs_front"/>
      <arg name="align_depth"           value="true"/>
      <arg name="ordered_pc"            value="true"/>
      <arg name="linear_accel_cov"      value="1.0"/>

      <arg name="enable_gyro"           value="false"/>
      <arg name="enable_accel"          value="false"/>
      <arg name="enable_pose"           value="false"/>
      <arg name="unite_imu_method"      value="linear_interpolation"/>

      <arg name="accel_fps"             value="200"/>
      <arg name="gyro_fps"              value="200"/>
      <arg name="depth_fps"             value="10"/>
      <arg name="color_fps"             value="10"/>
    </include>

    <node name="$(anon dynparam)" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters /rs_front/camera/rgb_camera">
      <param name="enable_auto_exposure" type="bool" value="true"/>
      <param name="enable_auto_white_balance" type="bool" value="false"/>
      <param name="white_balance" type="double" value="5600.0"/>
    </node>

  </group>

  <group ns="rs_back">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="serial_no"             value="841612070485"/>
      <arg name="tf_prefix"         		value="rs_back"/>
      <arg name="align_depth"           value="true"/>
      <arg name="ordered_pc"            value="true"/>
      <arg name="linear_accel_cov"      value="1.0"/>

      <arg name="enable_gyro"           value="false"/>
      <arg name="enable_accel"          value="false"/>
      <arg name="enable_pose"           value="false"/>
      <arg name="unite_imu_method"      value="linear_interpolation"/>

      <arg name="accel_fps"             value="200"/>
      <arg name="gyro_fps"              value="200"/>
      <arg name="depth_fps"             value="10"/>
      <arg name="color_fps"             value="10"/>
    </include>

    <node name="$(anon dynparam)" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters /rs_back/camera/rgb_camera">
      <param name="enable_auto_exposure" type="bool" value="true"/>
      <param name="enable_auto_white_balance" type="bool" value="false"/>
      <param name="white_balance" type="double" value="5600.0"/>
    </node>

  </group>

</launch>
